@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with
                    </label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign In
                </p>
                <form class="login">
                    <select id="Roles">
                        <option>Administrador</option>
                        <option>Usuario</option>
                    </select>
                    <input type="text" id="txtUsername" placeholder="Username" />
                    <input type="password" id="txtPassword" placeholder="Password" />
                    <input value="Sign In" id="SignIn" class="btn btn-success btn-sm" />
                    <div class="remember-forgot">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" />
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6 forgot-pass-content">
                                <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="posted-by">Posted By: <a href="http://www.jquery2dotnet.com">Bhaumik Patel</a></div>
</div>

<link href="~/Content/LoginStyle.css" rel="stylesheet" />
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.forgot-pass').click(function (event) {
                $(".pr-wrap").toggleClass("show-pass-reset");
            });

            $('.pass-reset-submit').click(function (event) {
                $(".pr-wrap").removeClass("show-pass-reset");
            });
        });

        $("#SignIn").click(function () {
            var rol = $("#Roles").val();
            var strUsername = $("#txtUsername").val();
            var strPassword = $("#txtPassword").val();
            if (rol == "Administrador") {
                $.ajax({
                    type: "POST",
                    url: "/Login/comprobarLogin",
                    data: { strUsername: strUsername, strPassword: strPassword },
                    success: function (response) {
                        alert(response);
                        window.location.href = "/Container/Container";
                    }
                });
            } else {
                alert("No tiene permisos.");
            }

        });

    </script>

}

