@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">
                    <label>
                        Enter the email you signed up with
                    </label>
                    <input type="email" placeholder="Email" />
                    <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Inicio de Sesión
                </p>
                <form class="login">
                    <select id="Roles">
                        <option>Administrador</option>
                        <option>Usuario</option>
                    </select>
                    <input type="text" id="txtUsername" placeholder="Username" />
                    <input type="password" id="txtPassword" placeholder="Password" />
                    <input value="Ingresar" id="SignIn" class="btn btn-success btn-sm" />
                    <span id="message"></span>
                </form>
            </div>
        </div>
    </div>
    <!-- Button to open the modal -->
    <button onclick="document.getElementById('id01').style.display='block'">Registrarse</button>

    <div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">times;</span>
        <form class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>Registro</h1>
               
                <hr>
                <label for="email"><b>Email</b></label>
                <input type="text" id="usuario" placeholder="Enter Email" name="email" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" id="pass" placeholder="Enter Password" name="psw" required>

                <label for="psw-repeat"><b>Repeat Password</b></label>
                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <!----<button type="submit" class="signup">Registrar</button>-->
                    <input value="Registrar" id="SignUp" class="btn btn-success btn-sm" />
                </div>
            </div>
        </form>
    </div>
</div>

<link href="~/Content/LoginStyle.css" rel="stylesheet" />
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.forgot-pass').click(function (event) {
                $(".pr-wrap").toggleClass("show-pass-reset");
            });

            $('.pass-reset-submit').click(function (event) {
                $(".pr-wrap").removeClass("show-pass-reset");
            });
        });

        $("#SignIn").click(function () {
            var rol = $("#Roles").val();
            var strUsername = $("#txtUsername").val();
            var strPassword = $("#txtPassword").val();
            if (rol == "Administrador") {
                $.ajax({
                    type: "POST",
                    url: "/Login/comprobarLogin",
                    data: { strUsername: strUsername, strPassword: strPassword },
                    success: function (response) {
                        alert(response);
                        window.location.href = "/Container/Container";
                    }
                });
            } else if (rol == "Usuario") {
                $.ajax({
                    type: "POST",
                    url: "/Login/consultarUsuario",
                    data: { strUsername: strUsername, strPassword: strPassword },
                    success: function (response) {
                        var message = $("#message");
                        //alert(response);
                        if (response.d) {
                            window.location.href = "/Container/Container";
                        }
                        else {
                            
                            window.location.href = "/Login/Login";
                            alert("Usuario no registrado");
                        }
                        
                    }
                });
            }
            else {
                alert("No tiene permisos.");
            }

        });

        $("#SignUp").click(function () {
            
            var strUsername = $("#usuario").val();
            var strPassword = $("#pass").val();
           
                $.ajax({
                    type: "POST",
                    url: "/Login/ingresarUsuario",
                    data: { strUsername: strUsername, strPassword: strPassword },
                    success: function (response) {
                        alert(response);
                        window.location.href = "/Login/Login";
                    }
                });
           

        });
     
    </script>

}

