<h1 style="text-align:center">Advertencia</h1>
<p>Hemos detectado que esta usando un navegador diferente a Internet Explorer, por favor para una utlización satisfactoria de este sitio utilizar Internet Explorer.</p>
